.top-menu {
    .navbar-brand{
        display: flex;
        justify-content: start;
        align-items: center;

        svg{
            width: 50px;
            height: 50px;
            margin-right:20px ;
        }

        h2 {
            margin: 0;
            font-size: 22px;
        }
    }


}
